services:
  nginx:
    image: "nginx:1.29.3"
    restart: always
    ports:
      - "80:80"
      - "443:443"
    environment:
      SERVER_NAME: "127.0.0.1"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
      - frontend

  backend:
    build: ./backend
    image: pupsiks/backend:0.1.0
    restart: always
    environment:
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
    depends_on:
      redis:
        condition: service_healthy
      db:
        condition: service_healthy

  frontend:
    build: 
      context: frontend
      args:
        VITE_API_URL: "/api/v1"
    image: pupsiks/frontend:0.1.0
    restart: always

  emailworker:
    build: ./emailworker
    image: pupsiks/emailworker:0.1.0
    restart: always
    environment:
      SMTP_SERVER: ${SMTP_SERVER}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_SENDER: ${SMTP_SENDER}
      SMTP_USERNAME: ${SMTP_USERNAME}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
    depends_on:
      redis:
        condition: service_healthy

  db:
    image: "postgres:16"
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: pupsiks
    volumes:
      - dbdata:/var/lib/postgresql:z
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d pupsiks"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: "redis:8.2.2-alpine"
    restart: always
    volumes:
      - redisdata:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s

volumes:
  dbdata:
  redisdata:
