name: Tests

on:
  pull_request:
  push:
    branches-ignore:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      DB_USER: test_user
      DB_PASS: mypassword
      SMTP_SERVER: ${{ vars.SMTP_SERVER }}
      SMTP_PORT: ${{ vars.SMTP_PORT }}
      SMTP_SENDER: ${{ secrets.SMTP_SENDER }}
      SMTP_USERNAME: ${{ secrets.SMTP_USERNAME }}
      SMTP_PASSWORD: ${{ secrets.SMTP_PASSWORD }}
      TEST_EMAIL: ${{ secrets.TEST_EMAIL }}
      SERVER_NAME: 127.0.0.1
      SSL_OWNER_EMAIL: ""

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build tests
      run: make build_test

    - name: Run tests
      run: make test
