name: Test and deploy

on: 
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      DB_USER: test_user
      DB_PASS: mypassword
      SMTP_SERVER: ${{ vars.SMTP_SERVER }}
      SMTP_PORT: ${{ vars.SMTP_PORT }}
      SMTP_SENDER: ${{ secrets.SMTP_SENDER }}
      SMTP_USERNAME: ${{ secrets.SMTP_USERNAME }}
      SMTP_PASSWORD: ${{ secrets.SMTP_PASSWORD }}
      TEST_EMAIL: ${{ secrets.TEST_EMAIL }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build tests
      run: make build_test

    - name: Run tests
      run: make test

  build:
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build production
      run: make build_production

    - name: List images
      id: save_built_images
      run: |
        sudo wget https://github.com/mikefarah/yq/releases/download/v4.40.5/yq_linux_amd64 -O /usr/bin/yq
        sudo chmod +x /usr/bin/yq
        images=$(yq '.services[] | select(.build) | .image' docker-compose.yml | xargs)
        echo "BUILT_IMAGE_LIST=$images" >> $GITHUB_OUTPUT
        echo "Built images: $images"

    - name: Save all images as tar
      run: |
        mkdir -p docker-images
        for img in ${{ steps.save_built_images.outputs.BUILT_IMAGE_LIST }}; do
          echo "Saving $img"
          docker save -o docker-images/$(echo $img | tr '/:' '_').tar $img
        done


    - name: Upload images artifact
      uses: actions/upload-artifact@v4
      with:
        name: compose-images
        path: docker-images/

  deploy:
    needs: [test, build]
    runs-on: self-hosted
    environment: production
    concurrency: production
    env:
      DB_USER: ${{ secrets.DB_USER }}
      DB_PASS: ${{ secrets.DB_PASS }}
      SMTP_SERVER: ${{ vars.SMTP_SERVER }}
      SMTP_PORT: ${{ vars.SMTP_PORT }}
      SMTP_SENDER: ${{ secrets.SMTP_SENDER }}
      SMTP_USERNAME: ${{ secrets.SMTP_USERNAME }}
      SMTP_PASSWORD: ${{ secrets.SMTP_PASSWORD }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Download images
      uses: actions/download-artifact@v4
      with:
        name: compose-images
        path: docker-images

    - name: Load all images
      run: |
        for f in docker-images/*.tar; do
          echo "Loading $f"
          docker load -i $f
        done

    - name: Runtime
      run: make production
